body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  position: relative;
  width: 100px;
  height: 100px;
}

.profile-photo{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.textColor {
  color: #EBFF00; 
  text-align: center;
  align-items: center;
}
.overlay {
  /* display: none; */
  position: absolute; 
  bottom: 0; 
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  transition: .5s ease;
  opacity:0;
  border-radius: 50%;
} 

.container:hover .overlay {
  opacity: 1;
}